@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Bitter');

.App {
  align-items: center;
  justify-content: center;
}

.App-header{
  background-color: blue;
  width: 100%
}

.Title {
  text-align: center;
  font-size: 20px;
  color: #fff;
}

